#header {
  display:flex;
  position:center;
  z-index: 100000;
  width: 100%;
  background-color: none;
  justify-content: normal;
}

#header > button{
  margin: 10px;
  padding: 5px;
  color:white;
  background: none
}

#header > button:hover {
  color: yellow;
  transform:scale(1.1)
}

#brand, a {
  margin: 1%;
  color: white !important;
  text-decoration:none !important;
}
