<div id="header">
  <h3 id="brand"><a  target="_blank" href="https://swapi.dev/about">SWAPI</a></h3>
  <button mat-flat-button routerLink="/home">Home</button>
  <button mat-flat-button routerLink="/films">Movies</button>
  <!--<button mat-raised-button routerLink="/planets">Planets</button>-->
  <!--<button mat-raised-button routerLink="/characters">Characters</button>-->
  <!--<button mat-raised-button routerLink="/vehicles">Vehicles</button>-->
  <!--<button mat-flat-button routerLink="/characters">Characters</button>-->
</div>
